In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("heart(1).csv")

In [3]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [19]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import Normalizer

In [5]:
df.dtypes

Age                 int64
Sex                object
ChestPainType      object
RestingBP           int64
Cholesterol         int64
FastingBS           int64
RestingECG         object
MaxHR               int64
ExerciseAngina     object
Oldpeak           float64
ST_Slope           object
HeartDisease        int64
dtype: object

In [8]:
col_to_scale=['Cholesterol','Oldpeak']

In [7]:
scaler= StandardScaler()

In [10]:
df[col_to_scale]=scaler.fit_transform(df[col_to_scale])

In [11]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,0.825070,0,Normal,172,N,-0.832432,Up,0
1,49,F,NAP,160,-0.171961,0,Normal,156,N,0.105664,Flat,1
2,37,M,ATA,130,0.770188,0,ST,98,N,-0.832432,Up,0
3,48,F,ASY,138,0.139040,0,Normal,108,Y,0.574711,Flat,1
4,54,M,NAP,150,-0.034755,0,Normal,122,N,-0.832432,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,0.596393,0,Normal,132,N,0.293283,Flat,1
914,68,M,ASY,144,-0.053049,1,Normal,141,N,2.357094,Flat,1
915,57,M,ASY,130,-0.620168,0,Normal,115,Y,0.293283,Flat,1
916,57,F,ATA,130,0.340275,0,LVH,174,N,-0.832432,Flat,1
917,38,M,NAP,138,-0.217696,0,Normal,173,N,-0.832432,Up,0

In [17]:
mscaler=MinMaxScaler()
df[col_to_scale]=mscaler.fit_transform(df[col_to_scale])

In [18]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,0.479270,0,Normal,172,N,0.295455,Up,0
1,49,F,NAP,160,0.298507,0,Normal,156,N,0.409091,Flat,1
2,37,M,ATA,130,0.469320,0,ST,98,N,0.295455,Up,0
3,48,F,ASY,138,0.354892,0,Normal,108,Y,0.465909,Flat,1
4,54,M,NAP,150,0.323383,0,Normal,122,N,0.295455,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,0.437811,0,Normal,132,N,0.431818,Flat,1
914,68,M,ASY,144,0.320066,1,Normal,141,N,0.681818,Flat,1
915,57,M,ASY,130,0.217247,0,Normal,115,Y,0.431818,Flat,1
916,57,F,ATA,130,0.391376,0,LVH,174,N,0.295455,Flat,1
917,38,M,NAP,138,0.290216,0,Normal,173,N,0.295455,Up,0

In [28]:
#for l1 and l2 we get ----> Norscaler=Normailzer(norm='l1' or 'l2')
Norscaler=Normalizer()
df[col_to_scale]=Norscaler.fit_transform(df[col_to_scale])

In [29]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,0.851247,0,Normal,172,N,0.524766,Up,0
1,49,F,NAP,160,0.589445,0,Normal,156,N,0.807808,Flat,1
2,37,M,ATA,130,0.846268,0,ST,98,N,0.532757,Up,0
3,48,F,ASY,138,0.605950,0,Normal,108,Y,0.795503,Flat,1
4,54,M,NAP,150,0.738268,0,Normal,122,N,0.674508,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,0.711963,0,Normal,132,N,0.702217,Flat,1
914,68,M,ASY,144,0.424939,1,Normal,141,N,0.905222,Flat,1
915,57,M,ASY,130,0.449427,0,Normal,115,Y,0.893317,Flat,1
916,57,F,ATA,130,0.798115,0,LVH,174,N,0.602506,Flat,1
917,38,M,NAP,138,0.700754,0,Normal,173,N,0.713403,Up,0